<!-- intern.html template div -->
<div class="card employee-card mx-2">
 <div class="card-header bg-primary">
  <h2 class="card-title text-white">{data.name}</h2>
  <h3 class="card-title text-white"><i class="fas fa-user-graduate mr-2 text-white"></i>{data.role}</h3>
 </div>
 <div class="card-body">
  <ul class="list-group">
   <li class="list-group-item">ID:{data.id}</li>
   <li class="list-group-item">Email:{data.email}</li>
   <li class="list-group-item">School:{data.school}</li>
  </ul>
  </div>
 </div>